page-login {
    .login-icon{
        width: 200vh;
        height: auto;
        width: auto;
        margin: auto;
        display: block;
    }
    .scroll-content{
        justify-content: center;
        display: flex!important;
        align-items: center!important;
    }
}
