<ion-grid>
    <ion-row>
      <ion-col col-sm-12 col-md-6 col-xl-2>
        <ion-card (click)="openModule(uiComponent.CUSTOMERINVOICE)">
          <img src="assets/imgs/invoice.png" />
          <ion-card-content>
            <ion-card-title text-center>
              Sales
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-sm-12 col-md-6 col-xl-2>
        <ion-card  (click)="openModule(uiComponent.CUSTOMERS)">
          <img src="assets/imgs/customers.png" />
          <ion-card-content>
            <ion-card-title text-center>
              Customers
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-sm-12 col-md-6 col-xl-2>
        <ion-card>
          <img src="assets/imgs/Products.png" />
          <ion-card-content>
            <ion-card-title text-center>
              Products
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-sm-12 col-md-6 col-xl-2>
        <ion-card>
          <img src="assets/imgs/reports.png" />
          <ion-card-content>
            <ion-card-title text-center>
              Reports
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-sm-12 col-md-6 col-xl-2>
        <ion-card>
          <img src="assets/imgs/accounts.png" />
          <ion-card-content>
            <ion-card-title text-center>
              Accounts
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-sm-12 col-md-6 col-xl-2>
        <ion-card>
          <img src="assets/imgs/customers.png" />
          <ion-card-content>
            <ion-card-title text-center>
              Suppliers
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>