<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Home Page
    </ion-title>
    <!-- <button ion-button menuToggle ion-right>
      <ion-icon name="menu"></ion-icon>
    </button> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <main-menu></main-menu>
  <!-- <cust-invoice *ngIf="uiService.selectedUI === uiComponent.CUSTOMERINVOICE"></cust-invoice>
  <customer-detail *ngIf="uiService.selectedUI === uiComponent.CUSTOMERS"></customer-detail> -->
</ion-content>
<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>