<!-- Generated template for the CustInvoiceComponent component -->
<div>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Invoice Date :</ion-label>
      <ion-input type="date" [(ngModel)]="invoiceDate" value="{{invoiceDate}}" class="invoiceDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Invoice Date :</ion-label>
      <ion-input type="date" [(ngModel)]="invoiceDate" value="{{invoiceDate}}" class="invoiceDate"></ion-input>
    </ion-item>
  </ion-list>
</div>
